    .screen-wrapper {
        display: flex;
        align-items: center;
        .btn-vieport-size {
            display: none;
            background-repeat: no-repeat;
            background-color: transparent;
            padding: 0;
            @media screen and (min-width: $size_desktop) {
                display: block;
                opacity: .7;
                cursor: pointer;
                width: 25px;
                height: 19px;
                margin-left: 5px;
                outline: none;
                border: none;
                transition: opacity .1s ease;
                &:hover {
                    opacity: 1;
                }
            }
            &.desktop {
                background-position: 0 0;
            }
            &.tablet-land {
                background-position: -30px 0px;
            }
            &.tablet-port {
                background-position: -59px 0px;
            }
            &.mob-land {
                background-position: -87px 0px;
            }
            &.mob-port {
                background-position: -117px 0px;
            }
        }
    }
